name: Deploy to Remote Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.ISPCONFIG_USER }}
          password: ${{ secrets.ISPCONFIG_USER_PASS }}
          port: ${{ secrets.PORT }} # Optional, defaults to 22
          script: |
            cd web/
            echo "added from github actions with main.yml" > index.html
            # git pull origin main
            # Add any other deployment commands here, e.g., build, restart service
            echo "Deployment complete!"